<html>
<head>
  <title>My Home Page</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Welcome to My Prediction Home Page</h1>
<html>
    <body>
        <form action='/predict' method="POST">
            What is the Longitude of the House?: <input type='text' name='longitude'><br>
            What is the Latitude of the House?: <input type='text' name='latitude'><br>
            What is the housing_median_age of the House?: <input type='text' name='housing_median_age'><br>
            How many rooms in total are in the House?: <input type='text' name='total_rooms'><br>
			How many bedrooms in total are in the House?: <input type='text' name='total_bedrooms'><br>
            What is the population of the Occupant?: <input type='text' name='population'><br>
            What is the number of households in the House?: <input type='text' name='households'><br>
            What is the median_income of the House?: <input type='text' name='median_income'><br>
            How close is the House to Ocean?: <input type='text' name='ocean_proximity'><br>
            The predicted median house value is: {{predictions}} <br>
            <input type='submit' value='Predict'>
        </form>
    </body>
</html>

